In [1]:
#imports
import pandas as pd

In [2]:
#read in the raw csv file
df = pd.read_csv("../data/raw-salary-cap-data.csv", encoding= 'utf-8')
df.head(2) #check to ensure it worked

,Team,Year,Wins,Losses,Ties,Classification,QB,RB,WR,TE,...,Offense,DL,LB,S,CB,Defense,SpecialTeams,DeadMoney,Total,CapMax
0,49ers,2013.0,12.0,4.0,0.0,Good,2843160.0,9257768.0,16945177.0,10569598.0,...,57094859.0,11028483.0,17860800.0,10696955.0,12885741.0,52471979.0,6831666.0,6601496.0,116398504.0,123000000.0
1,Bears,2013.0,8.0,8.0,0.0,Mediocre,11276471.0,12036166.0,16580067.0,2495000.0,...,52458756.0,29744128.0,12474915.0,3802254.0,15375000.0,61396297.0,6290000.0,2854947.0,120145053.0,123000000.0

In [11]:
#Data is pretty clean in the excel file after putting it in there from the webiste gathering
#want to add a PercentUsed column for the total/salary cap for each row.
df['PercentUsed'] = df['Total']/df['CapMax']
df.head(2)
df = df.dropna()

In [12]:
#write it back to a csv for the cleaned data
df.to_csv('../data/salary-cap-data.csv', index = False)