In [1]:
#imports
import pandas as pd

In [4]:
#read in the raw csv file
df = pd.read_csv("../data/raw-salary-cap-data.csv", encoding= 'utf-8')
df.head(2) #check to ensure it worked

,Team,Year,Wins,Losses,Ties,Classification,QB,RB,WR,TE,...,Offense,DL,LB,S,CB,Defense,SpecialTeams,DeadMoney,Total,CapMax
0,49ers,2013,12,4,0,Good,2843160,9257768,16945177,10569598,...,57094859,11028483,17860800,10696955,12885741,52471979,6831666,6601496,116398504,123000000
1,Bears,2013,8,8,0,Mediocre,11276471,12036166,16580067,2495000,...,52458756,29744128,12474915,3802254,15375000,61396297,6290000,2854947,120145053,123000000

In [10]:
#Data is pretty clean in the excel file after putting it in there from the webiste gathering
#want to add a PercentUsed column for the total/salary cap for each row.
df['PercentUsed'] = df['Total']/df['CapMax']
df.head(2)

,Team,Year,Wins,Losses,Ties,Classification,QB,RB,WR,TE,...,DL,LB,S,CB,Defense,SpecialTeams,DeadMoney,Total,CapMax,PercentUsed
0,49ers,2013,12,4,0,Good,2843160,9257768,16945177,10569598,...,11028483,17860800,10696955,12885741,52471979,6831666,6601496,116398504,123000000,0.946329
1,Bears,2013,8,8,0,Mediocre,11276471,12036166,16580067,2495000,...,29744128,12474915,3802254,15375000,61396297,6290000,2854947,120145053,123000000,0.976789

In [11]:
#write it back to a csv for the cleaned data
df.to_csv('/Users/ZachV/Documents/UMBC/Grad/DATA602/win-now/data/salary-cap-data.csv', index = False)